APP_ENV=local
APP_KEY=base64:zu1SwEYbBgPhuxBEPrRULqR6LXJh9ja37sFLwgkihl8=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=10.0.0.199
DB_PORT=5432
DB_DATABASE=accounting
DB_USERNAME=auth
DB_PASSWORD=auth

DB_CONNECTION=pgsql2
DB_HOST2=10.0.0.199
DB_PORT2=5432
DB_DATABASE2=cms
DB_USERNAME2=auth
DB_PASSWORD2=auth

DB_CONNECTION=pgsql3
DB_HOST3=10.0.0.199
DB_PORT3=5432
DB_DATABASE3=bingo1
DB_USERNAME3=auth
DB_PASSWORD3=auth

DB_CONNECTION=pgsql4
DB_HOST4=10.0.0.199
DB_PORT4=5432
DB_DATABASE4=roulette_sas
DB_USERNAME4=auth
DB_PASSWORD4=auth

DB_CONNECTION=pgsql5
DB_HOST5=10.0.0.199
DB_PORT5=5432
DB_DATABASE5=blackjack
DB_USERNAME5=auth
DB_PASSWORD5=auth

DB_CONNECTION=pgsql6
DB_HOST6=10.0.0.199
DB_PORT6=5432
DB_DATABASE6=roulette_sas1
DB_USERNAME6=auth
DB_PASSWORD6=auth

DB_CONNECTION=pgsql7
DB_HOST7=10.0.0.199
DB_PORT7=5432
DB_DATABASE7=ims
DB_USERNAME7=auth
DB_PASSWORD7=auth

DB_CONNECTION=pgsql107
DB_HOST107=10.0.0.199
DB_PORT107=5432
DB_DATABASE107=slot_sas_bh
DB_USERNAME107=auth
DB_PASSWORD107=auth

DB_CONNECTION=pgsql110
DB_HOST110=10.0.0.199
DB_PORT110=5432
DB_DATABASE110=slot_sas_aot
DB_USERNAME110=auth
DB_PASSWORD110=auth

DB_CONNECTION=pgsql111
DB_HOST111=10.0.0.199
DB_PORT111=5432
DB_DATABASE111=slot_sas_es
DB_USERNAME111=auth
DB_PASSWORD111=auth

DB_CONNECTION=pgsql107
DB_HOST107=10.0.0.199
DB_PORT107=5432
DB_DATABASE107=slot_sas_bh
DB_USERNAME107=auth
DB_PASSWORD107=auth

DB_CONNECTION=pgsql110
DB_HOST110=10.0.0.199
DB_PORT110=5432
DB_DATABASE110=slot_sas_aot
DB_USERNAME110=auth
DB_PASSWORD110=auth

DB_CONNECTION=pgsql111
DB_HOST111=10.0.0.199
DB_PORT111=5432
DB_DATABASE111=slot_sas_es
DB_USERNAME111=auth
DB_PASSWORD111=auth

DB_CONNECTION=pgsql112
DB_HOST112=10.0.0.199
DB_PORT112=5432
DB_DATABASE112=slot_sas_fdh
DB_USERNAME112=auth
DB_PASSWORD112=auth

DB_CONNECTION=pgsql113
DB_HOST113=10.0.0.199
DB_PORT113=5432
DB_DATABASE113=slot_sas_fh
DB_USERNAME113=auth
DB_PASSWORD113=auth

DB_CONNECTION=pgsql114
DB_HOST114=10.0.0.199
DB_PORT114=5432
DB_DATABASE114=slot_sas_fsh
DB_USERNAME114=auth
DB_PASSWORD114=auth

DB_CONNECTION=pgsql115
DB_HOST115=10.0.0.199
DB_PORT115=5432
DB_DATABASE115=slot_sas_og
DB_USERNAME115=auth
DB_PASSWORD115=auth

DB_CONNECTION=pgsql116
DB_HOST116=10.0.0.199
DB_PORT116=5432
DB_DATABASE116=slot_sas_ror
DB_USERNAME116=auth
DB_PASSWORD116=auth

DB_CONNECTION=pgsql117
DB_HOST117=10.0.0.199
DB_PORT117=5432
DB_DATABASE117=slot_sas_sc
DB_USERNAME117=auth
DB_PASSWORD117=auth

DB_CONNECTION=pgsql118
DB_HOST118=10.0.0.199
DB_PORT118=5432
DB_DATABASE118=slot_sas_sh
DB_USERNAME118=auth
DB_PASSWORD118=auth

DB_CONNECTION=pgsql119
DB_HOST119=10.0.0.199
DB_PORT119=5432
DB_DATABASE119=slot_sas_tsh
DB_USERNAME119=auth
DB_PASSWORD119=auth

DB_CONNECTION=pgsql120
DB_HOST120=10.0.0.199
DB_PORT120=5432
DB_DATABASE120=slot_sas_uh
DB_USERNAME120=auth
DB_PASSWORD120=auth

DB_CONNECTION=pgsql121
DB_HOST121=10.0.0.199
DB_PORT121=5432
DB_DATABASE121=slot_sas_vg
DB_USERNAME121=auth
DB_PASSWORD121=auth

DB_CONNECTION=pgsql122
DB_HOST122=10.0.0.199
DB_PORT122=5432
DB_DATABASE122=slot_sas_zw
DB_USERNAME122=auth
DB_PASSWORD122=auth

DB_CONNECTION=pgsql124
DB_HOST124=10.0.0.199
DB_PORT124=5432
DB_DATABASE124=slot_sas_fs
DB_USERNAME124=auth
DB_PASSWORD124=auth

DB_CONNECTION=pgsql140
DB_HOST140=10.0.0.199
DB_PORT140=5432
DB_DATABASE140=slot_sas_dr
DB_USERNAME140=auth
DB_PASSWORD140=auth

DB_CONNECTION=pgsql141
DB_HOST141=10.0.0.199
DB_PORT141=5432
DB_DATABASE141=slot_sas_blh
DB_USERNAME141=auth
DB_PASSWORD141=auth

DB_CONNECTION=pgsql142
DB_HOST142=10.0.0.199
DB_PORT142=5432
DB_DATABASE142=slot_sas_iw
DB_USERNAME142=auth
DB_PASSWORD142=auth

DB_CONNECTION=pgsql145
DB_HOST145=10.0.0.199
DB_PORT145=5432
DB_DATABASE145=slot_sas_egs
DB_USERNAME145=auth
DB_PASSWORD145=auth

DB_CONNECTION=pgsql146
DB_HOST146=10.0.0.199
DB_PORT146=5432
DB_DATABASE146=slot_sas_rs
DB_USERNAME146=auth
DB_PASSWORD146=auth

DB_CONNECTION=pgsql148
DB_HOST148=10.0.0.199
DB_PORT148=5432
DB_DATABASE148=slot_sas_gc
DB_USERNAME148=auth
DB_PASSWORD148=auth

DB_CONNECTION=pgsql149
DB_HOST149=10.0.0.199
DB_PORT149=5432
DB_DATABASE149=slot_sas_gol
DB_USERNAME149=auth
DB_PASSWORD149=auth

DB_CONNECTION=pgsql150
DB_HOST150=10.0.0.199
DB_PORT150=5432
DB_DATABASE150=slot_sas_dgr
DB_USERNAME150=auth
DB_PASSWORD150=auth

DB_CONNECTION=pgsql151
DB_HOST151=10.0.0.199
DB_PORT151=5432
DB_DATABASE151=slot_sas_td
DB_USERNAME151=auth
DB_PASSWORD151=auth

DB_CONNECTION=pgsql152
DB_HOST152=10.0.0.199
DB_PORT152=5432
DB_DATABASE152=slot_sas_hc
DB_USERNAME152=auth
DB_PASSWORD152=auth

DB_CONNECTION=pgsql153
DB_HOST153=10.0.0.199
DB_PORT153=5432
DB_DATABASE153=slot_sas_lh
DB_USERNAME153=auth
DB_PASSWORD153=auth

DB_CONNECTION=pgsql154
DB_HOST154=10.0.0.199
DB_PORT154=5432
DB_DATABASE154=slot_sas_ab
DB_USERNAME154=auth
DB_PASSWORD154=auth

DB_CONNECTION=pgsql157
DB_HOST157=10.0.0.199
DB_PORT157=5432
DB_DATABASE157=slot_sas_oc
DB_USERNAME157=auth
DB_PASSWORD157=auth

DB_CONNECTION=pgsql158
DB_HOST158=10.0.0.199
DB_PORT158=5432
DB_DATABASE158=slot_sas_fb
DB_USERNAME158=auth
DB_PASSWORD158=auth

DB_CONNECTION=pgsql159
DB_HOST159=10.0.0.199
DB_PORT159=5432
DB_DATABASE159=slot_sas_ps
DB_USERNAME159=auth
DB_PASSWORD159=auth

DB_CONNECTION=pgsql160
DB_HOST160=10.0.0.199
DB_PORT160=5432
DB_DATABASE160=slot_sas_dq
DB_USERNAME160=auth
DB_PASSWORD160=auth

DB_CONNECTION=pgsql162
DB_HOST162=10.0.0.199
DB_PORT162=5432
DB_DATABASE162=slot_sas_hac
DB_USERNAME162=auth
DB_PASSWORD162=auth

DB_CONNECTION=pgsql163
DB_HOST163=10.0.0.199
DB_PORT163=5432
DB_DATABASE163=slot_sas_fsd
DB_USERNAME163=auth
DB_PASSWORD163=auth


BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_KEY=
PUSHER_SECRET=
PUSHER_APP_ID=