html {
  overflow-y: scroll;
}

a { outline: 0; }

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.navbar-inverse {
  margin-bottom: 0px;
}

.page-header {
  margin-top: 4px;
}

.second-nav {
  height: 25px;
}

.alert { 
    width: 290px;
    position: absolute;
    top: 146px;
    left: 1233px;
  }
.page-header  {
  color: #d2d4d8;
  font-family: 'italic';
}
.modal .modal-dialog {
  width: 35%; /* or whatever you wish */
}

.active {
  font-weight: bold;
  color: #354660;
}

.container-full {
  margin: 0 auto;
  width: 80%;
}

/*CASINO PREVIEW*/

.box { 
    background-color: #9c9c9c;
    border-radius: 10px;
    color: black;
    font-family: Asap,Avenir,Arial,sans-serif;
    position: absolute;
    text-align: center;
}
#casinoPreview .box {
    border: 1px solid black;
    cursor: default !important;
    line-height: 20px;
    overflow: hidden;
}
#casinoPreview div {
    box-sizing: content-box !important;
    font-size: 11px;
    font-weight: bold;
}
#casinoPreview .ps_title {
    font-size: 11px;
    top: 0;
}
#casinoPreview .ps_body {
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    padding: 1px 2px 1px 1px;
    text-align: right;
    top: 0;
}
                     
                     
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 6px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(140, 158, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(140, 158, 255);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
                      
}    

/*  New Design CSS*/

.breadcrumb,
.secondary-breadcrumb {
background: rgba(76,76,76,1) !important;
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,0.89) 12%, rgba(102,102,102,0.78) 25%, rgba(19,19,19,0.1) 100%)!important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,0.89)), color-stop(25%, rgba(102,102,102,0.78)), color-stop(100%, rgba(19,19,19,0.1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,0.89) 12%, rgba(102,102,102,0.78) 25%, rgba(19,19,19,0.1) 100%)!important;
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,0.89) 12%, rgba(102,102,102,0.78) 25%, rgba(19,19,19,0.1) 100%)!important;
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,0.89) 12%, rgba(102,102,102,0.78) 25%, rgba(19,19,19,0.1) 100%)!important;
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,0.89) 12%, rgba(102,102,102,0.78) 25%, rgba(19,19,19,0.1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

.head-row {
background: rgba(76,76,76,1);
background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(27%, rgba(44,44,44,1)), color-stop(36%, rgba(71,71,71,1)), color-stop(46%, rgba(0,0,0,1)), color-stop(53%, rgba(102,102,102,1)), color-stop(65%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}

body {
background: rgba(0,0,0,1) !important;
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(89,89,89,0.95) 16%, rgba(102,102,102,0.72) 82%, rgba(0,0,0,0.66) 99%, rgba(0,0,0,0.66) 100%)!important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(16%, rgba(89,89,89,0.95)), color-stop(82%, rgba(102,102,102,0.72)), color-stop(99%, rgba(0,0,0,0.66)), color-stop(100%, rgba(0,0,0,0.66)))!important;
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(89,89,89,0.95) 16%, rgba(102,102,102,0.72) 82%, rgba(0,0,0,0.66) 99%, rgba(0,0,0,0.66) 100%)!important;
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(89,89,89,0.95) 16%, rgba(102,102,102,0.72) 82%, rgba(0,0,0,0.66) 99%, rgba(0,0,0,0.66) 100%)!important;
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(89,89,89,0.95) 16%, rgba(102,102,102,0.72) 82%, rgba(0,0,0,0.66) 99%, rgba(0,0,0,0.66) 100%)!important;
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(89,89,89,0.95) 16%, rgba(102,102,102,0.72) 82%, rgba(0,0,0,0.66) 99%, rgba(0,0,0,0.66) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

thead {
color:white; background: rgba(76,76,76,1);
background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(27%, rgba(44,44,44,1)), color-stop(36%, rgba(71,71,71,1)), color-stop(46%, rgba(0,0,0,1)), color-stop(53%, rgba(102,102,102,1)), color-stop(65%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(44,44,44,1) 27%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 46%, rgba(102,102,102,1) 53%, rgba(17,17,17,1) 65%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
    }

div.panel-heading {
background: rgba(76,76,76,1) !important;
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 46%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 55%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(46%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(55%, rgba(44,44,44,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1))) !important;
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 46%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 55%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%)!important;
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 46%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 55%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%)!important;
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 46%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 55%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%)!important;
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 46%, rgba(0,0,0,1) 51%, rgba(44,44,44,1) 55%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

div.panel,
div.well {
background: rgba(253,129,158,0.65);
background: -moz-linear-gradient(left, rgba(253,129,158,0.65) 0%, rgba(252,64,108,0.49) 44%, rgba(245,0,57,0.29) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,129,158,0.65)), color-stop(44%, rgba(252,64,108,0.49)), color-stop(100%, rgba(245,0,57,0.29)));
background: -webkit-linear-gradient(left, rgba(253,129,158,0.65) 0%, rgba(252,64,108,0.49) 44%, rgba(245,0,57,0.29) 100%);
background: -o-linear-gradient(left, rgba(253,129,158,0.65) 0%, rgba(252,64,108,0.49) 44%, rgba(245,0,57,0.29) 100%);
background: -ms-linear-gradient(left, rgba(253,129,158,0.65) 0%, rgba(252,64,108,0.49) 44%, rgba(245,0,57,0.29) 100%);
background: linear-gradient(to right, rgba(253,129,158,0.65) 0%, rgba(252,64,108,0.49) 44%, rgba(245,0,57,0.29) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd819e', endColorstr='#f50039', GradientType=1 );
}
.breadcrumb a {
  color:white !important;
  font-family: arial;
  font-size: 13pt;
}

.active a {
    color: #ffe630 !important;
}

.tr-class {
    background-color: #e3e3e3;
}