html {
  overflow-y: scroll;
}

a { outline: 0; }

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.navbar-inverse {
  margin-bottom: 0px;
}

.page-header {
  margin-top: 4px;
}

.second-nav {
  height: 25px;
}

.alert { 
    width: 290px;
    position: absolute;
    top: 146px;
    left: 1233px;
  }
.page-header  {
  color: #d2d4d8;
  font-family: 'italic';
}
.modal .modal-dialog {
  width: 35%; /* or whatever you wish */
}

.active {
  font-weight: bold;
  color: #354660;
}

.container-full {
  margin: 0 auto;
  width: 80%;
}

/*CASINO PREVIEW*/

.box { 
    background-color: #9c9c9c;
    border-radius: 10px;
    color: black;
    font-family: Asap,Avenir,Arial,sans-serif;
    position: absolute;
    text-align: center;
}
#casinoPreview .box {
    border: 1px solid black;
    cursor: default !important;
    line-height: 20px;
    overflow: hidden;
}
#casinoPreview div {
    box-sizing: content-box !important;
    font-size: 11px;
    font-weight: bold;
}
#casinoPreview .ps_title {
    font-size: 11px;
    top: 0;
}
#casinoPreview .ps_body {
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    padding: 1px 2px 1px 1px;
    text-align: right;
    top: 0;
}
                     
                     
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 6px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(140, 158, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(140, 158, 255);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
                      
}    
